{
  "openapi": "3.0.0",
  "info": {
    "title": "WebCraft API",
    "description": "API for accessing WebCraft web design agency information, services, projects, and pricing",
    "version": "1.0.0",
    "contact": {
      "name": "WebCraft Support",
      "email": "info@webcraft.tr",
      "url": "https://www.webcraft.tr"
    }
  },
  "servers": [
    {
      "url": "https://www.webcraft.tr/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "operationId": "getServices",
        "summary": "Get all services",
        "description": "Returns a list of all web design, SEO, and digital marketing services offered by WebCraft",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "keywords": {
                            "type": "string"
                          },
                          "benefits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "features": {
                            "type": "array"
                          },
                          "faqs": {
                            "type": "array"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get all projects",
        "description": "Returns a list of all successful projects completed by WebCraft with metrics and technologies used",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "metrics": {
                            "type": "object"
                          },
                          "technologies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
