:root {
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.card-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(29, 29, 59, 1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
}

.ellipse-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  fill: rgba(29, 29, 59, 1);
  border: none;
  outline: none;
}

.bg-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  fill: rgba(29, 29, 59, 1);
  border: none;
  outline: none;
}

.card-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 46.33333333333333%;
  border-radius: 24px;
}

.card-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(29, 29, 59, 1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;
}

.bg-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  fill: rgba(29, 29, 59, 1);
  border: none;
  outline: none;
}

.card-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 46.166666666666664%;
  border-radius: 24px;
}

.bg-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  fill: rgba(29, 29, 59, 1);
  border: none;
  outline: none;
}

.card-9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 46.166666666666664%;
  border-radius: 24px;
}

.template-1 {
@media (max-width: 1440px) {
  .template-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .template-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  width: NaN%;
  background-color: rgba(3, 6, 28, 1);
}
